{% extends "base.html" %}
{% block content %}

{% for section in section.subsections %}
{% set sec = get_section(path="blog/_index.md") %}
<section>
    <h2 class="section-header">{{ sec.title }}</h2>

    <ul>
      {% for page in sec.pages | slice(end=5) %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
      <li><a href="{{ sec.path }}">... See More</a></li>
    </ul>
</section>
{% endfor %}

<section>
  <h2 class="section-header">About</h2>
</section>
{% endblock content %}`
